### Datatypes

In [1]:
name="Raj"
print(name)

Raj

In [3]:
poem='''Johny Johny Yes Papa
Enting Suger No Papa
Telling A LIe No Papa
Open Your Mouth Ha Ha Ha'''
print(poem)

Johny Johny Yes Papa
Enting Suger No Papa
Telling A LIe No Papa
Open Your Mouth Ha Ha Ha

In [11]:
#LIST
fruits=['Apple' , 'Guava' , 'Banana' , 'Orange']
print(fruits)

['Apple', 'Guava', 'Banana', 'Orange']

In [14]:
#TUPLE
apps=('Zomato' , 'Swiggi' , 'Maps' , 'Google')
print(apps)

('Zomato', 'Swiggi', 'Maps', 'Google')

In [15]:
#SETS
num={'1' , '2', '3' , '1' , '4' , '2'}
print(num)

{'2', '3', '4', '1'}

In [25]:
#Dictionaries
car_info={
    "Brand":"Ford",
    "Model":"Mustang",
    "Year": 1969
}
print(car_info)

{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 1969}

In [26]:
student={
    "Name":"John",
    "Age": 15,
    "Class":"10th"
}
print(student)

{'Name': 'John', 'Age': 15, 'Class': '10th'}

In [33]:
#To check Datatype of any value
nam="Raj"
type(nam)

str

In [31]:
age=21
type(age)

int

In [40]:
#Type Casting (First Method)
number=int(input('Enter A Value'))
print(number)
type(number)

2

int

In [38]:
#(Second Method)
nmbr=input('Enter A Value')
nmbr1=int(nmbr)
print(nmbr1)
type(nmbr1)

5

int

In [57]:
#Formatting
#WAP to add Two Numbers
a=2
b=3
sum=a+b
print('Sum is', sum)

Sum is 5

In [56]:
#OR
a=2
b=3
print('Sum is', a+b)

Sum is 5

In [58]:
a=2
b=3
print('Sum of',a,'and',b , 'is', a+b) #or
print(f'Sum of {a} and {b} is {a+b}')

Sum of 2 and 3 is 5
Sum of 2 and 3 is 5