In [ ]:
i=1
while i<=5:
    print('Hello')
    i+=1

Hello
Hello
Hello
Hello
Hello

In [4]:
i=1
while i<=100:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [6]:
i=100
while i>=1:
    print(i)
    i=i-1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [12]:
#Multiplicatin Table
n=int(input('Enter A Number'))
i=1
while i<=10:
    print(n*i)
    i=i+1

17
34
51
68
85
102
119
136
153
170

In [33]:
a=[1,4,9,16,25,36,49,64,81,100]
idx=0
while idx<len(a):
    print(a[idx])
    idx=idx+1

1
4
9
16
25
36
49
64
81
100

In [40]:
heros=['Ironman','Thor','Batman','Loki']
indx=0
while indx<len(heros):
    print(heros[indx])
    indx=indx+1

Ironman
Thor
Batman
Loki

In [43]:
i=1
while i<=5:
    if i==3:
        i=i+1
        continue
    print(i)
    i=i+1

1
2
4
5

In [44]:
i=1
while i<=10:
    if i%2==0:
        i=i+1
        continue
    print(i)
    i=i+1

1
3
5
7
9

# For Loops

In [47]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [51]:
name='Raj'
for i in range(1,11):

    print(name)

Raj
Raj
Raj
Raj
Raj
Raj
Raj
Raj
Raj
Raj

## Basics Restart

In [52]:
a=10

In [58]:
a

10

In [59]:
print(a)

10

In [60]:
#Datatype

In [61]:
type(a)

int

In [64]:
s='1'

In [63]:
type(s)

str

In [70]:
sum=None
x=2
y=5
sum=x+y
print(sum)

7

In [71]:
are_you_bored=False
type(are_you_bored)

bool

In [77]:
Name='Praveen srivastav'
Qualification='Graduated'
Age=21
Email='qwertyvikram001@gmail.com'

In [79]:
x=2
x+=5 # or x=x+5
print(x)

7

In [102]:
num=(input())
print(num)

Raj

In [107]:
name=input('Enter Your Name')
age=int(input('Enter Your Age'))
school=input('Enter Your School')
print(name,age,school,sep=' / ')

Raj / 21 / GDGS

In [116]:
#||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

## Conditions

In [123]:
number=int(input('Enter A NUmber'))
if number>0:
    print(number,'Positive')
elif number<0:
    print(number,'Negative')
elif number==0:
    print('Zero')

Zero

In [120]:
age=int(input('Enter Your Age'))
if age>=18:
    print(age,'Eligible For DL')
else:
    print(age,'Not Eligible for DL')

21 Eligible For DL

In [121]:
num1=int(input('Enter First Number'))
num2=int(input('Enter Second Number'))
if num1>num2:
    print('First Number Is Greatest')
else:
    print('Second NUmber IS Greatest')

Second NUmber IS Greatest

In [122]:
nmbr=int(input('Enter A Number'))
if nmbr%2==0:
    print('Even')
else:
    print('Odd')

Even

## Loops

In [124]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [125]:
for i in range(19,191,19):
    print(i)

19
38
57
76
95
114
133
152
171
190

In [128]:
for i in range(1,50):
    if i%4==0:
        print(i)

4
8
12
16
20
24
28
32
36
40
44
48

In [131]:
for i in range(1,50):
    if i%2==0 and i%3==0:
        print(i)

6
12
18
24
30
36
42
48

In [2]:
list=['Raj','Ratnesh','Krishna','Harsh','Sinu']
for name in list:
    print(name)

Raj
Ratnesh
Krishna
Harsh
Sinu

In [3]:
tup=[1,4,3,5,7,9,]
for num in tup:
    print(num)

1
4
3
5
7
9

In [6]:
str='Praveen Srivastav'
for character in str:
    print(character)
else:
    print('END')

P
r
a
v
e
e
n

S
r
i
v
a
s
t
a
v
END

In [12]:
str='Praveen Srivastav'
for character in str:
    if character=='S':
        print('S Found')
        break
    print(character)
else:
    print('END')

P
r
a
v
e
e
n

S Found

In [ ]:
list=[1,4,9,16,25,36,49,64,81,100]
for num in list:
    print(num)

1
4
9
16
25
36
49
64
81
100

## Range

In [17]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [ ]:
#Table
n=int(input('Enter A Number'))
for i in range(n,n*11,n):
    print(i)

8
16
24
32
40
48
56
64
72
80

In [25]:
#Table(2.0)
n=int(input('Enter A Number'))
for i in range(1,11):
    print(i*n)

5
10
15
20
25
30
35
40
45
50

In [ ]:
#Sum of first m numbers
m=int(input('Enter A Number'))
s=0
for i in range(1,m+1):
    s=s+i
print(s)

21

In [42]:
#factorial of first x numbers
x=int(input('Enter A Nmber'))
fac=1
for i in range(1,x+1):
    fac=fac*i
print(x,fac,sep=' | ')

5 | 120

In [50]:
#same 2 same
prod=1
for i in range(1,11):
    prod=prod*i
print(prod)

3628800

In [52]:
  q=10
  while q<=20:
      print(q)
      q=q+1

10
11
12
13
14
15
16
17
18
19
20