## LOOPS

In [4]:
#WAP to print number from 1 to 10
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [11]:
list=["Apple", "Banana", "Grapes", "Litchi", "Blueberry"]
print(list)

['Apple', 'Banana', 'Grapes', 'Litchi', 'Blueberry']

In [12]:
for x in list:
    print(x)

Apple
Banana
Grapes
Litchi
Blueberry